{% extends "base.html" %}

{% block content %}
{% block container %}    
    <div class="container">
        <div class="row">
            К концу апреля 2020 года, только ленивый не будет знать, что такое пандемия, коронавирус и коронавирусная инфекция COVID-19. Разберемся что это такое. Говоря человеческим языком, коронавирус SARS-CoV-2 это новый вирус из семейства коронавирусов (да, их много), открытый в декабре 2019 года в городе Ухань, Китай (до резкой вспышки инфекции в Китае, об этом вирусе ничего не было известно). Данный коронавирус вызывает заболевание COVID 19, которое может привести к пневмонии и смерти.

            Это текст. Разместите здесь сведения о компании, содержании сайта и роде вашей деятельности. Добавьте в этот раздел информацию для пользователей, напишите о ваших принципах, истории бизнеса, опишите качества, которыми выделяются ваши товары и услуги. Добавьте изображение, чтобы сделать материал привлекательнее.
            
        </div>
    </div>
{% endblock %}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Подключаем Bootstrap JS -->
    <script src="/find_covid/static/js/post_script.js"></script> 
    <script src="/find_covid/static/js/bootstrap.min.js"></script>
    <script src="/find_covid/static/js/load_script.js"></script>

{% endblock %}
