<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/find_covid/static/css/warehouse.css" >
    <link rel="stylesheet" href="/find_covid/static/css/bootstrap.min.css" >
    <link rel="icon" type="image/png" href="/find_covid/static/images/icons/favicon.ico">
    <link rel="stylesheet" href="/find_covid/static/css/rLK.css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5c6f743d-2033-4fb4-84d0-60941cb65cc2&lang=ru_RU" type="text/javascript">
    </script>
    <title>Private office</title>
</head>
    <body>
        <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
               <a class="navbar-brand nav-link" href="#" id="scroll5">COVID FINDER <img src="/find_covid/static/images/logo1.png" width="27" height="27"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="col-xl-12">
                    <div class="navbar-nav justify-content-end">
                        <a class="nav-item nav-link" href="{{url_for('map')}}">{{ navigation[0] }}<span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="{{url_for('LK')}}">{{ navigation[1] }}</a>
                        <a class="nav-item nav-link" href="{{url_for('logout')}}">{{ navigation[2] }}
                        </a>
                </div>
                </div>
            </div>
        </nav>
     
        </header>
        <div class="allerts">
    
    </div>
       <div>
           <div class="content">
               <h1>Добро пожаловать, <span id='name'></span></h1>   
           </div>
    
              <div class="container2">
                  <div class="text1">
                  <p>Ваш статус: <span id='status'></span></p>
                  <p>Контактировали ли вы с больным: <span id='contact'></span></p>
                  <p>Симптомы заражения: <span id='symptoms'></span></p>
                  <p>Ваша текущая геопазиция: <br> <span id='location'></span></p>
                      </div>   
                       <a href="#" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Изменить данные</a>
                       <a href="#" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#position_modal">В общественном месте</a>  
                       <a href="#" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#place_modal">Добавить частопосещаемое место</a>  
                       <a href="#" type="button" class="btn btn-primary btn-lg" id="home">Дома</a>    
                  <p>Есть подозрение на COVID-19?
                      COVID FINDER рекумендует обратиться к специалистам<a></a></p>
                  <div class="container_phone">
                      <div class="wrap">
                              <div class="btn-phone-wrap">
                                  <div class="btn-phone">
                                       <div class="btn-phone-circle"></div>
                                  </div>
                                  
                                    <a href="tel:112">
                                      <div class="btn-phone-circle2"> 
                                          <img src="https://img.icons8.com/fluent-systems-regular/24/000000/phone.png"/>
                                      </div> 
                                    </a>
                                  </div>
                              </div>
                              <a href="#" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#covid_allert">Covid - что делать?</a> 
                              
                      </div>
                  </div>

           
           </div>
            
                
      <div class="cntr"> 
           <a class="butt" href="#" data-toggle="modal" data-target="#chek_modal">Безопасно ли идти?</a>
      </div>
      <div class="modal fade" id="chek_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Проверка на безопасность</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body">
            <div class="form-group">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Введите адресс куда вы хотите попасть</label>
                <textarea class="form-control" id="addres_1" aria-label="With textarea"></textarea>   
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">В какое место вы идёте:</label>
                <select id="type_1" class="form-control"ф>
                    <option value="Ресторан">Ресторан(общепит)</option>
                    <option value="Торговый центр">Торговый центр</option>
                    <option value="Магазин(Продуктовый)">Магазин(Продуктовый)</option>
                    <option value="Магазин(Одежды)">Магазин(Одежды)</option>
                    <option value="Парк">Парк</option>
                    <option value="Кинотеатр(театр)">Кинотеатр(театр)</option>
                </select> 
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" id="chek_position">Проверить</button>
          </div>
        </div>
      </div>
    </div> 
    </div>         
            
                
        
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Актуализировать состояние</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Статус заболевания:</label>
                <select id="form_status" class="form-control">
                    <option value="Болею">Болею</option>
                    <option value="Болел">Болел</option>
                    <option value="Не болел">Не болел</option>
                </select>    
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Контактировали ли вы с болными:</label>
                <select id="form_contact" class="form-control">
                    <option value="Контактировал">Контактировал</option>
                    <option value="Не знаю">Не знаю</option>
                    <option value="Не котактировал">Не котактировал</option>
                </select>   
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Ваши симптомы(вбить симптомы через запятую):</label>
                <textarea class="form-control" id="form_symptoms" aria-label="With textarea"></textarea>   
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" id="EditData">Отправить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="position_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Общественное место</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">В каком месте:</label>
                <select id="type_of_public" class="form-control"ф>
                    <option value="Ресторан">Ресторан(общепит)</option>
                    <option value="Торговый центр">Торговый центр</option>
                    <option value="Магазин(Продуктовый)">Магазин(Продуктовый)</option>
                    <option value="Магазин(Одежды)">Магазин(Одежды)</option>
                    <option value="Парк">Парк</option>
                    <option value="Кинотеатр(театр)">Кинотеатр(театр)</option>
                </select> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" id="probability_of_infection">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="modal fade" id="place_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Частые места</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">В каком месте:</label>
                <select id="visited_places" class="form-control">
                    <option value="Работа">Работа</option>
                    <option value="Дом">Дом</option>
                    <option value="Магазин(Продуктовый)">Магазин(Продуктовый)</option>
                    <option value="Магазин(Одежды)">Магазин(Одежды)</option>
                    <option value="Парк">Парк</option>
                    <option value="Кинотеатр(театр)">Кинотеатр(театр)</option>
                </select>    
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" id="add_visited_places">Отправить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="covid_allert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Первые меры при обнаружении коронавируса</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <p>При появлении начальной симптоматики, которая фактически идентична проявлениям ОРВИ, не звонят в скорую помощь, а вызывают врача из поликлиники на дом. Он проведет обследование и даст дальнейшие рекомендации. Тем не менее важно не выходить из дома при подозрении на коронавирусную инфекцию и наличии таких симптомов:</p>
                <ul>
                  <li>гипертермия;</li>
                  <li>некоторая затрудненность дыхания;</li>
                  <li>болезненность в мышцах и в области груди;</li>
                  <li>общая слабость;</li>
                  <li>головная боль;</li>
                  <li>кашель, чихание;</li>
                  <li>заложенность носа;</li>
                  <li>иногда возможны диарея, тошнота, рвота</li>
                </ul>
                <p> Когда человек выявляет у себя симптомы коронавируса, нельзя впадать в панику. В первую очередь нужно замерить температуру и спокойно оценить собственное состояние. Если все не критично, нужно обратиться по номеру телефона поликлиники, к которой человек приписан. Там запишут информацию и направят врача. Дальнейшие инструкции следующие:</p>
                <p>Нужно составить список всех лиц, с которыми были контакты за последние 2 недели с максимально широкой информацией – имена, фамилии, номера телефонов, адреса проживания, места работы и т. д. Его следует дополнить и указанием всех мест, которые были посещены – в том числе кафе, магазины и прочие заведения. Представители медицинской службы возьмут материалы для проведения тестов на коронавирус. Обычно это мазок со слизистой носоглотки. До получения результата вводятся карантинные меры – ограничение перемещения и контактов, а также дополнительный мониторинг состояния.</p>
                <p>Дома нужно продолжать соблюдать все основные меры по обеспечению безопасности – мыть руки, делать влажную уборку и регулярно проветривать помещение. Также важно придерживаться рекомендаций врача по лечению и отслеживать состояние членов семьи. Продукты в это время должны доставлять волонтеры, знакомые или родственники бесконтактным путем.</p>
                <p>Если состояние стремительно ухудшается, а врача не получается вызвать либо он сообщил, что не успевает приехать, звонят в неотложную помощь (103). Так, скорая нужна, если показатели температуры тела возрастают, усиливается одышка или другие симптомы. Также «неотложку» вызывают в ночное время. Важно предупредить диспетчера, что был контакт с человеком, у которого уже диагностирован коронавирус.</p>
                <p>В ситуациях, когда есть подозрения на COVID-19, в соответствии с утвержденными инструкциями пациента доставляют в инфекционное отделение и проводят дальнейшее обследование. Показанием для подобных действий со стороны врачей выступает гипертермия и воспаление легких, которое было подтверждено рентгеновским исследованием.</p>
            </div>
          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>

           <div class="container_karta">
           <h1>Карта ближайщих аптек</h1>
           <div id="map" style="width: 100%; height: 80%"></div>
           </div>
           <a href="#" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#route_modal">Построить безопасный маршрут</a> 
           <div class="modal fade" id="route_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Безопасный маршрут</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body">
            <div class="form-group">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Введите адресс куда вы хотите попасть</label>
                <textarea class="form-control" id="form_symptoms" aria-label="With textarea"></textarea>   
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" id="create_route">Построить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
           <div class="container_karta">
           <h1>Карта для построения маршрута</h1>
           <div id="map_route" style="width: 100%; height: 80%"></div>
           </div>
        
   
           <div class="row">
           </div>
             
           

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
        navigator.geolocation.getCurrentPosition(showPosition); 
        navigator.geolocation.getCurrentPosition(Infection);
        navigator.geolocation.getCurrentPosition(PopularPlace);
        navigator.geolocation.getCurrentPosition(chek_position);


        function showPosition(position) {
            /* Выводим координаты */
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;
            console.log(lat)
            console.log(lon)
        var data = JSON.stringify({
                "email": '{{email}}',
                "lat": lat,
                "lon": lon
            });

        $.ajax({
                    url: "https://it.school1298.ru/find_covid/get_user_data",
                    method: "POST",
                    contentType: 'application/json',
                    data: data,
                    success: function (response) {
                      
                      var pharamacie = response['near_pharamacies']['data']
                      console.log(pharamacie)
                      creatmap(lat, lon, pharamacie);
                      creatroute(lat, lon);
                    $("#name").append(response['user_data']['name']);
                    $("#status").append(response['user_data']['status']);
                    $("#contact").append(response['user_data']['contact']);
                    $("#symptoms").append(response['user_data']['symptoms']);
                    $("#location").append(response['user_data']['geolocation']);
                }
            });
        };
    function Infection(position){
        $('#probability_of_infection').click(function() {
        var data = JSON.stringify({
                "id": {{id}},
                "lat": position.coords.latitude,
                "lon": position.coords.longitude,
                "type_of_public": $("#type_of_public").val()
        });
        $.ajax({
                url: "https://it.school1298.ru/find_covid/probability_of_infection",
                method: "POST",
                contentType: 'application/json',
                data: data,
                success: function (response) {
                    $(".modal").modal("hide");
                    console.log(response);
                    if (response == "5%"){
                        $(".allerts").append(
                            `<div class="alert alert-info alert-dismissible fade show" role="alert">
                                Внимание! Шанс заражения ${response}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                 </button>
                            </div>`)
                    } else if (response == "20%"){
                        $(".allerts").append(
                            `<div class="alert alert-warning alert-dismissible fade show" role="alert">
                                Внимание! Шанс заражения ${response}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                 </button>
                            </div>`)
                    } else if (response == "60+%"){
                        $(".allerts").append(
                            `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                Внимание! Шанс заражения ${response}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                 </button>
                            </div>`)
                    } 
                
            }
        });
    });
    };

    $('#EditData').click(function() {
        var data = JSON.stringify({
                "status": $('#form_status').val(),
                "contact": $('#form_contact').val(),
                "symptoms": $('#form_symptoms').val()
            });
        
        console.log(data)
         $.ajax({
                url: "https://it.school1298.ru/find_covid/edit_user_data",
                method: "POST",
                contentType: 'application/json',
                data: data,
                success: function (response) {
                    $(".modal").modal("hide");
                    console.log(response)

                
            }
        });
    });
    $('#home').click(function() {
        var data = JSON.stringify({
                "id": {{id}}
            });
        
        console.log(data)
         $.ajax({
                url: "https://it.school1298.ru/find_covid/user_at_home",
                method: "POST",
                contentType: 'application/json',
                data: data,
        });
    });
    function PopularPlace(position){
        $('#add_visited_places').click(function() {
        var data = JSON.stringify({
                "user_id": {{id}},
                "lat": position.coords.latitude,
                "lon": position.coords.longitude,
                "type_of_public": $("#visited_places").val()
        });
        $.ajax({
                url: "https://it.school1298.ru/find_covid/add_visited_places",
                method: "POST",
                contentType: 'application/json',
                data: data,
                success: function (response) {
                    $(".modal").modal("hide");
                    console.log(response);
                    
                
            }
        });
    });
    };
    function chek_position(position){
        $('#chek_position').click(function () {
            /* Выводим координаты */
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;
            console.log(lat)
            console.log(lon)
        var data = JSON.stringify({
                "addres": $("#addres_1").val(),
                "type": $("#type_1").val(),
                "lat": lat,
                "lon": lon
            });
        $.ajax({
                    url: "https://it.school1298.ru/find_covid/chek_position",
                    method: "POST",
                    contentType: 'application/json',
                    data: data,
                    success: function (response) {
                      
                      var pharamacie = response['near_pharamacies']['data']
                      console.log(pharamacie)
                      if (response == "Normal"){
                        $(".allerts").append(
                            `<div class="alert alert-info alert-dismissible fade show" role="alert">
                                Можете идти в это общественное место, но соблюдайте меры предосторожности!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                 </button>
                            </div>`)
                    } else{
                        $(".allerts").append(
                            `<div class="alert alert-warning alert-dismissible fade show" role="alert">
                                Внимание! Не стоит ходить в это место! Вот список мест рядом!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                 </button>
                            </div>`)
                    };

                }
            });
        });
    };
    

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="/find_covid/static/js/bootstrap.min.js"></script>
<script src="/find_covid/static/js/map.js"></script>

        
        
    </body>
</html>



                    